<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Intel RealSense R200</name>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Adam Allevato</name>
    <email>adam.d.allevato@gmail.com</email>
  </author>

  <description>
    The Intel RealSense R200 medium-range depth camera. Range: 0.5-3.5m indoors,
    0.5-10m outdoors. http://www.intel.com/realsense
  </description>
</model>
