<?xml version="1.0"?>

<model>
  <name>RoboCup SPL Field</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Carlos Agüero</name>
    <email>caguero@osrfoundation.org</email>
  </author>

  <description>
    A RoboCup 2009 field according to 2009 rules.
  </description>
</model>
