<?xml version="1.0"?>

<model>
  <name>Stop light</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Louise Poubel</name>
    <email>louise@osrfoundation.org</email>
  </author>

  <description>
    A traffic light with red, yellow and green lights.
    A light can be turned on by setting its emissive color either on the SDF or programmatically.
  </description>
</model>
