<?xml version='1.0'?>
<model>
  <name>DRC Practice: Road Course</name>
  <version>0.1.0</version>
  <sdf version='1.4'>model.sdf</sdf>
  <author>
    <name>Christina Gomez</name>
    <email>@swri.org</email>
  </author>
  <description>
    This model approximates a the DRC Trials Road Course.
  </description>
</model>
