<?xml version="1.0"?>

<model>
  <name>Spectrum Plane</name>
  <version>1.0</version>
  <sdf version='1.6'>spectrum_plane.sdf</sdf>

  <author>
    <name>Adam Allevato</name>
    <email>adam.d.allevato@gmail.com</email>
  </author>

  <description>
    A plane with a reference full-color spectrum on it, used to validate and calibrate camera models. The plane is 2m x 2m.
  </description>
</model>
