<?xml version='1.0'?>
<model>
  <name>OceanFloorShipwreck</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <author>
    <name>Rafi Abdullah</name>
    <email>rafi@openrobotics.org</email>
  </author>

  <description>
    An underwater world with a shipwreck and coral.
  </description>
</model>

