<?xml version="1.0"?>

<model>
  <name>Ladder 60 Degrees 1 Handrails </name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jackie Kay</name>
    <email>jackie@osrfoundation.com</email>
  </author>

  <description>
    A ladder with 1 handrail and a 60 degree incline from the floor.
  </description>

</model>

