<?xml version="1.0"?>

<model>
  <name>Cube 20k</name>
  <version>1.0</version>
  <sdf version="1.2">model-1_2.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Mihai Dhola</name>
    <email>mihai@</email>
  </author>

  <description>
    A cube composed of 20,000 triangles. This is used for testing.
  </description>
</model>
