<?xml version="1.0"?>

<model>
  <name>Velodyne HDL-32</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional:xuxu</name>
    <email>Optional:my email></email>
  </author>

  <description>
    A model of a velodyne HLD-32 Lidar sensor.
  </description>
</model>
