<?xml version="1.0" ?>
<model>
    <name>Submarine (sinking)</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Jackie Kay</name>
        <email>jackie@osrfoundation.org</email>
    </author>
    <description>An underwater submarine model that will sink in water. You can view this model in underwater.world environment: gazebo worlds/underwater.world</description>
</model>
