<?xml version="1.0"?>

<model>
  <name>Depth Camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ian Chen</name>
    <email>ichen@osrfoundation.org</email>
  </author>

  <description>
    A simple depth camera with a box for visualization.
  </description>
</model>
