<?xml version="1.0"?>

<model>
  <name>Checkerboard Plane</name>
  <version>1.0</version>
  <sdf version='1.6'>checkerboard_plane.sdf</sdf>

  <author>
    <name>Adam Allevato</name>
    <email>adam.d.allevato@gmail.com</email>
  </author>

  <description>
    A plane with a reference checkerboard texture on it, used to validate and calibrate camera models. The checkerboard is 8x8 squares (like a standard checkerboard), and measures 2m on each side.
  </description>
</model>
