<?xml version="1.0"?>

<model>
  <name>Pioneer 3AT</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>

  <author>
    <name>Dereck Wonnacott</name>
    <email>dereck@gmail.com</email>
  </author>
  
  <license>Creative Commons Attribution 3.0 Unported</license>

  <description>
    Pioneer 3AT Mobile Robot with Skid-Steer Plugin.
  </description>
</model>
