<?xml version="1.0"?>

<model>
  <name>Pioneer3 AT</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Dereck Wonnacott</name>
    <email>dereck@gmail.com</email>
  </author>
  
  <license>Creative Commons Attribution 3.0 Unported</license>

  <description>
    Pioneer3 AT Mobile Robot with ROS Plugin.
  </description>
</model>
