<?xml version='1.0'?>

<model>
  <name>DRC Practice: Wood slats</name>
  <version>0.1.0</version>
  <sdf version='1.4'>model-1_4.sdf</sdf>
  <sdf version='1.5'>model.sdf</sdf>
  <author>
    <name>Christina Gomez</name>
    <email>@swri.org</email>
  </author>
  <description>
    Wood slats used in DRC practice task 2. 
  </description>
</model>
