<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find sr_description)/hand/xacro/finger/knuckle/knuckle.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/proximal/proximal.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/biotac/biotac.urdf.xacro" />

  <xacro:macro name="finger_biotac" params="link_prefix joint_prefix parent *origin *axis">

    <xacro:knuckle link_prefix="${link_prefix}" joint_prefix="${joint_prefix}" parent="${parent}" >
      <insert_block name="origin" />
      <insert_block name="axis"/>
    </xacro:knuckle>

    <xacro:proximal link_prefix="${link_prefix}" joint_prefix="${joint_prefix}" parent="${link_prefix}knuckle" >
    </xacro:proximal>

    <xacro:biotac_middle link_prefix="${link_prefix}" joint_prefix="${joint_prefix}" parent="${link_prefix}proximal">
    </xacro:biotac_middle>

  </xacro:macro>

</robot>
