<?xml version='1.0'?>

<model>
  <name>SRC: Doorframe</name>
  <version>0.1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  <author>
    <name>Carlos Agüero</name>
    <email>caguero@osrfoundation.org</email>
  </author>
  <description>
    A door frame used in the Space Robotics Challenge.
  </description>
</model>
