<?xml version="1.0"?>

<model>
  <name>Four bar linkage with base</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <description>
    A four-bar linkage with a base resting on the ground.
    The linkage swings with gravity based on its initial configuration.
  </description>

</model>
