<?xml version="1.0"?>

<model>
  <name>Guardian Robot by Robotnik (Modified)</name>
  <version>0.0</version>
  <sdf>guardian.urdf</sdf>

  <author>
    <name>Robotnik</name>
    <email>Robotnik</email>
  </author>

  <description>
    Guardian robot taken from
    http://guardian-ros-pkg.googlecode.com/svn/trunk/
    and modified by John Hsu testing
    4 wheel differential drive contact behavior.
  </description>
</model>
