<?xml version="1.0"?>

<model>
  <name>Prius Hybrid with sensors</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ian Chen</name>
    <email>iche033@osrfoundation.org</email>
  </author>

  <depend>
    <model>
      <uri>model://prius_hybrid</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    Toyota Prius Hybrid with sensors.
  </description>
</model>
