<?xml version="1.0"?>

<model>
  <name>Checkerboard ground</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Evan Drumwright</name>
    <email>drum@gwu.edu</email>
  </author>

  <description>
    A checkerboard surface for a passive dynamic walker. 
  </description>
</model>
