<?xml version="1.0"?>
<model>
    <name>first robot</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    
    <author>
        <name>first robot</name>
        <email>yihanpoy@gmail.com</email>
    <author>
    
    <description>
        First robot model-
    <description>
<model>
        
