<?xml version="1.0" ?>
<model>
    <name>Hoop (0.6m, 5m)</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Jackie Kay</name>
        <email>jackie@osrfoundation.org</email>
    </author>
    <description>
      A 0.6m diameter hoop mounted on a 5m pole.
    </description>
</model>
