<?xml version="1.0"?>

<model>
  <name>sr_description</name>
  <version>1.0</version>

  <sdf version="1.4">model_forearm_and_hand.sdf</sdf>

  <author>
    <name>John Hsu (model maintainer)</name>
    <email>hsu@osrfoundation.org</email>
  </author>

  <description>
    starting with https://github.com/shadow-robot/sr-ros-interface, tweak to
    test sr_description for dynamics in gazebo.
  </description>
</model>
