<?xml version="1.0"?>

<model>
  <name>Wood block 10 x 2.5 x 1 cm</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A 10 x 2.5 x 1 cm wooden block.
  </description>
</model>
