<?xml version="1.0"?>

<model>
  <name>Winding Valley Heightmap</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.com</email>
  </author>

  <description>
    A winding valley heightmap. 
  </description>

</model>
