<?xml version="1.0"?>

<model>
  <name>Double pendulum with base</name>
  <version>1.0</version>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <description>
    A double pendulum with cylindrical shapes and rotation on the x axis.
    The pendulum is attached to a heavy base that rests on the ground.
  </description>

</model>
