<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Orbbec Astra Depth Camera</name>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Adam Allevato</name>
    <email>adam.d.allevato@gmail.com</email>
  </author>

  <description>
    The Orbbec Astra medium-range depth camera, with a range of approximately
    0.6-8m. https://orbbec3d.com/product-astra/
  </description>
</model>
