<?xml version="1.0"?>

<model>
  <name>Wooden case with wooden peg</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <description>
    The wooden ARAT case with with a single wooden peg.
  </description>
</model>
