<?xml version="1.0"?>

<model>
  <name>Mass on rails</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Peter Horak</name>
    <email>phorak@openrobotics.org</email>
  </author>

  <description>
    A prismatic joint that lifts a mass.
  </description>

</model>
