<?xml version="1.0"?>

<model>
  <name>MPL right forearm</name>
  <version>1.0.2</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <author>
    <name>Mathew Johannes</name>
  </author>

  <description>
    A model of Johns Hopkins Applied Physics Lab (APL) Modular Prosthetic Limb (MPL) arm. This model is of a right forearm.
  </description>
</model>
