
<?xml version="1.0"?>
<model>
  <name>Lunar Tranquillitatis Pit</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>DTM to SDF File Converter</name>
    <email>k-okada@jsk.t.u-tokyo.ac.jp</email>
  </author>

  <description>

This model uses data from
http://wms.lroc.asu.edu/lroc/view_rdr/NAC_DTM_TRANQPIT1
http://lroc.sese.asu.edu/data/LRO-L-LROC-5-RDR-V1.0/LROLRC_2001/DATA/SDP/NAC_DTM/TRANQPIT1/NAC_DTM_TRANQPIT1_E080N0330.IMG
http://lroc.sese.asu.edu/data/LRO-L-LROC-5-RDR-V1.0/LROLRC_2001/DATA/SDP/NAC_DTM/TRANQPIT1/NAC_DTM_TRANQPIT1_M152662021_50CM.IMG
see http://lroc.sese.asu.edu/posts/230 for scientific background


./dtm_to_heightmap2.py NAC_DTM_TRANQPIT1_E080N0330.IMG NAC_DTM_TRANQPIT1_M152662021_50CM.IMG --longitude 33.221 --latitude 8.3330 --output-dir lunar_tranquillitatis_pit

PVLModule([
  (u'PDS_VERSION_ID', u'PDS3')
  (u'RECORD_TYPE', u'FIXED_LENGTH')
  (u'RECORD_BYTES', 8828)
  (u'FILE_RECORDS', 14364)
  (u'LABEL_RECORDS', 1)
  (u'^IMAGE', 2)
  (u'DATA_SET_ID', u'LRO-L-LROC-5-RDR-V1.0')
  (u'DATA_SET_NAME', u'LRO MOON LROC 5 RDR V1.0')
  (u'VOLUME_ID', u'LROLRC_2001')
  (u'PRODUCER_INSTITUTION_NAME', u'ARIZONA STATE UNIVERSITY')
  (u'PRODUCER_ID', u'LRO_LROC_TEAM')
  (u'PRODUCER_FULL_NAME', u'MARK ROBINSON, PH.D')
  (u'PRODUCT_ID', u'NAC_DTM_TRANQPIT1_E080N0330')
  (u'PRODUCT_VERSION_ID', u'v1.1')
  (u'PRODUCT_TYPE', u'RDR')
  (u'INSTRUMENT_HOST_NAME', u'LUNAR RECONNAISSANCE ORBITER')
  (u'INSTRUMENT_HOST_ID', u'LRO')
  (u'INSTRUMENT_NAME', u'LUNAR RECONNAISSANCE ORBITER CAMERA')
  (u'INSTRUMENT_ID', u'LROC')
  (u'TARGET_NAME', u'MOON')
  (u'MISSION_PHASE_NAME',
   u'NOMINAL MISSION, SCIENCE MISSION, EXTENDED SCIENCE MISSION')
  (u'RATIONALE_DESC',
   u"Created at the request of NASA's Exploration Systems Mission Directorate to support future human exploration")
  (u'SOFTWARE_NAME',
   u'ISIS 3.2.1 with SER enhancements | SOCET SET v5.5 (c) BAE Systems')
  (u'START_TIME', u'N/A')
  (u'STOP_TIME', u'N/A')
  (u'SPACECRAFT_CLOCK_START_COUNT', u'N/A')
  (u'SPACECRAFT_CLOCK_STOP_COUNT', u'N/A')
  (u'PRODUCT_CREATION_TIME', datetime.datetime(2011, 4, 5, 21, 24, 14))
  (u'IMAGE_MAP_PROJECTION',
   PVLObject([
    (u'^DATA_SET_MAP_PROJECTION', u'DSMAP.CAT')
    (u'MAP_PROJECTION_TYPE', u'EQUIRECTANGULAR')
    (u'PROJECTION_LATITUDE_TYPE', u'PLANETOCENTRIC')
    (u'A_AXIS_RADIUS', Units(value=1737.4, units=u'KM'))
    (u'B_AXIS_RADIUS', Units(value=1737.4, units=u'KM'))
    (u'C_AXIS_RADIUS', Units(value=1737.4, units=u'KM'))
    (u'COORDINATE_SYSTEM_NAME', u'PLANETOCENTRIC')
    (u'POSITIVE_LONGITUDE_DIRECTION', u'EAST')
    (u'KEYWORD_LATITUDE_TYPE', u'PLANETOCENTRIC')
    (u'CENTER_LATITUDE', Units(value=8.0, units=u'DEG'))
    (u'CENTER_LONGITUDE', Units(value=180.0, units=u'DEG'))
    (u'LINE_FIRST_PIXEL', 1)
    (u'LINE_LAST_PIXEL', 14363)
    (u'SAMPLE_FIRST_PIXEL', 1)
    (u'SAMPLE_LAST_PIXEL', 2207)
    (u'MAP_PROJECTION_ROTATION', Units(value=0.0, units=u'DEG'))
    (u'MAP_RESOLUTION', Units(value=15161.67521207, units=u'PIX/DEG'))
    (u'MAP_SCALE', Units(value=2.0000000000006, units=u'METERS/PIXEL'))
    (u'MAXIMUM_LATITUDE', Units(value=8.86270799, units=u'DEG'))
    (u'MINIMUM_LATITUDE', Units(value=7.91545118, units=u'DEG'))
    (u'EASTERNMOST_LONGITUDE', Units(value=33.26679388, units=u'DEG'))
    (u'WESTERNMOST_LONGITUDE', Units(value=33.119851, units=u'DEG'))
    (u'LINE_PROJECTION_OFFSET', Units(value=134373.5, units=u'PIXEL'))
    (u'SAMPLE_PROJECTION_OFFSET', Units(value=2205276.5, units=u'PIXEL'))
  ]))
  (u'IMAGE',
   PVLObject([
    (u'DESCRIPTION',
     u'High-resolution NAC digital terrain models of high-priority targets')
    (u'LINES', 14363)
    (u'LINE_SAMPLES', 2207)
    (u'SAMPLE_TYPE', u'PC_REAL')
    (u'SAMPLE_BITS', 32)
    (u'SAMPLE_BIT_MASK', 4294967295)
    (u'CORE_NULL', 4286578683)
    (u'CORE_LOW_REPR_SATURATION', 4286578684)
    (u'CORE_LOW_INSTR_SATURATION', 4286578685)
    (u'CORE_HIGH_REPR_SATURATION', 4286578687)
    (u'CORE_HIGH_INSTR_SATURATION', 4286578686)
    (u'BAND_STORAGE_TYPE', u'BAND_SEQUENTIAL')
    (u'BANDS', 1)
  ]))
])
  </description>
</model>
        