<?xml version="1.0"?>

<model>
  <name>Round tin (base)</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Jackie Kay</name>
    <email>jackie@osrfoundation.org</email>
  </author>

  <description>
    A cylindrical metal tin with a diameter of 8cm and a height of 2.8cm. Part of the ARAT set.

  </description>
</model>
