<?xml version="1.0"?>

<model>
  <name>Stone 10 x 2.5 x 1 cm</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Jackie Kay</name>
    <email>jackie@osrfoundation.org</email>
  </author>

  <description>
    A 10 x 2.5 x 1 cm sharpening stone.
  </description>
</model>
