<?xml version="1.0"?>

<model>
  <name>Calibration Plane</name>
  <version>1.0</version>
  <sdf version='1.6'>calibration_plane.sdf</sdf>

  <author>
    <name>Adam Allevato</name>
    <email>adam.d.allevato@gmail.com</email>
  </author>

  <description>
    A plane with a reference texture on it depicting an asymmetrical circle pattern. Used to validate and calibrate camera models. The plane is 2m x 2m, and the circle grid size is 6x8.
  </description>
</model>
