<?xml version="1.0"?>

<model>
  <name>Walkway Metal 45 degree</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
  </author>

  <depend>
    <model>
      <uri>model://walkway_metal_straight</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    A 45 degree turn metal walkway section. This model can be stitched together to create longer paths. 
  </description>
</model>
