<?xml version="1.0"?>

<model>
  <name>iris_description</name>
  <version>1.0</version>
  <sdf version="1.5">iris_standoffs.sdf</sdf>

  <author>
    <name>3dr iris model</name>
    <email>rotors gazebo project</email>
  </author>

  <author>
    <name>john</name>
    <email>hsu@osrfoundation.org</email>
  </author>

  <description>
    3dr iris model
  </description>

  <depend>
    <model>
      <uri>model://small_2d_gimbal</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
