<?xml version="1.0" ?>
<model>
    <name>OSRF Elevator</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Nate Koenig</name>
        <email>nate@osrfoundation.org</email>
    </author>
    <description>
      The Open Source Robotics Foundation building, with a fictitious second floor and elevator. This model requires Gazebo6 or later.
    </description>
</model>
