<?xml version="1.0" ?>
<model>
    <name>OSRF Elevators</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Nate Koenig</name>
        <email>nate@osrfoundation.org</email>
    </author>
    <description>A version of OSRF's building with elevators. The additional floors and elevators do not exist in the real building.</description>
</model>
