<?xml version="1.0"?>

<model>
  <name>Velodyne HDL-32</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Akira Koyama</name>
    <email>akira.koyama.sd@kyocera.jp</email>
  </author>

  <description>
    A model of a Velodyne HDL-32 LiDAR sensor.
  </description>

</model>
