<?xml version="1.0"?>
<model>
    <name>Demo Joint Friction</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Shane Loretz</name>
        <email>sloretz@openrobotics.org</email>
    </author>
    <description>An demo of joints with varying friction parameters.</description>
</model>
