<?xml version="1.0"?>

<model>
  <name>Cessna C-172</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Carlos Agüero</name>
    <email>caguero@osrfoundation.org</email>
  </author>

  <description>
    Cessna C-172.

    An example world file that uses the cessna and ships with Gazebo is:
    $ gazebo worlds/cessna.world

    The meshes have been imported and adapted from:
    https://3dwarehouse.sketchup.com/model.html?id=5178440145d1d2c2d77055f14f845370

    All the internal specifications have been extracted and adapted from:
    https://github.com/tridge/jsbsim/blob/master/aircraft/c172p/c172p.xml
  </description>
</model>
