<?xml version="1.0"?>

<model>
  <name>Speed limit sign</name>
  <version>1.0</version>
  <sdf version="1.3">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole.bsmr@gmail.com</email>
  </author>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.com</email>
  </author>

  <description>
    A speed limit sign 
  </description>

</model>
