<?xml version="1.0"?>
<model>
    <name>Demo Joint Types</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Shane Loretz</name>
        <email>sloretz@osrfoundation.org</email>
    </author>

    <description>
        This model demonstrates all joint types available in gazebo.
    </description>
</model>
