<?xml version='1.0'?>

<model>
  <name>DRC Practice: Hinged door</name>
  <version>0.1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  <author>
    <name>Jackie Kay</name>
    <email>jackie@osrfoundation.org</email>
  </author>
  <description>
    A hinged door with two handles and no threshold.
  </description>
</model>
