<?xml version="1.0"?>

<model>
  <name>Foosball blue head</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Louise Poubel</name>
    <email>louise@osrfoundation.org</email>
  </author>

  <description>
    A head for the blue player.
  </description>
</model>
