<?xml version="1.0"?>
<model>
  <name>RegionEventBox</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Michael Deleo</name>
    <email>michael.deleo@sri.com</email>
  </author>
  <description>
    A transparent box which creates events when another model enters or exits its bounds.
  </description>
</model>
