<?xml version="1.0"?>

<model>
  <name>Cart: rigid suspension</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <description>
    A 4-wheel cart with rigid suspension, no steering.
  </description>
</model>
