<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="thproximal_transmission">

    <transmission type="sr_mechanism_model/SimpleTransmissionForMuscle" name="thproximal_transmission">
      <actuator name="THJ4" />
      <joint name="THJ4" />
      <mechanicalReduction>1</mechanicalReduction>
      <motorTorqueConstant>1</motorTorqueConstant>
      <pulsesPerRevolution>90000</pulsesPerRevolution>
    </transmission>

  </xacro:macro>

</robot>
