<?xml version="1.0"?>

<model>
  <name>Juggler Schaal</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Evan Drumwright</name>
    <email>drum@gwu.edu</email>
  </author>

  <description>
    Schaal's version of Shannon's paddle juggler. 
  </description>
</model>
