<?xml version="1.0"?>

<model>
  <name>RoboCup 2009 SPL Field</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Carlos Agüero</name>
    <email>caguero@osrfoundation.org</email>
  </author>

  <description>
    A RoboCup Standard Platform League field according to 2009 rules.
  </description>
</model>
