<?xml version="1.0"?>

<model>
  <name>Iris with Standoffs</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Fadri Furrer</name>
    <email>fadri.furrer@mavt.ethz.ch</email>
  </author>
  <author>
    <name>Michael Burri</name>
  </author>
  <author>
    <name>Mina Kamel</name>
  </author>
  <author>
    <name>Janosch Nikolic</name>
  </author>
  <author>
    <name>Markus Achtelik</name>
  </author>

  <maintainer email="hsu@osrfoundation.org">john hsu</maintainer>


  <description>
    A copy of the 3DR Iris model taken from
    https://github.com/PX4/sitl_gazebo/tree/master/models
    Local modifications include adding standoffs,
    inertia and collision updates..
  </description>
</model>
