<?xml version="1.0" ?>
<model>
    <name>Gimbal Small 2D</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>anonymous</name>
        <email>anonymous</email>
    </author>
    <description>2D gimbal for small camera (go pro size) on drone.
      3D mesh: http://www.thingiverse.com/thing:397579
      by: http://www.thingiverse.com/Motorpixiegimbals/about
    </description>
</model>
