<?xml version="1.0"?>
<model>
  <name>bin_4_dropping task</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Lafith Mattara</name>
    <email>mmlafith3@gmail.com</email>
  </author>

  <description>
    A marked bin which can be used in dropping task simulation.
  </description>
</model>