<?xml version="1.0" ?>
<model>
    <name>Follower Vehicle</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Ian Chen</name>
        <email>ichen@osrfoundation.org</email>
    </author>
    <description>
      A differential drive vehicle equipped with the FollowerPlugin that follows
      the closest object detected by its depth camera sensor.
    </description>
</model>
