<?xml version="1.0"?>
<model>
  <name>International Space Station (half)</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Carlos Agüero (Based on http://wiki.ros.org/nasa_r2_simulator)</name>
    <email>caguero@osrfoundation.org</email>
  </author>

  <description>
    International Space Station (half version)
  </description>
</model>
