<?xml version="1.0"?>
<model>
  <name>Skid steering robot</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <sdf version="1.4">model-1.4.sdf</sdf>
  <author>
    <name>Le Anh Chien</name>
    <email>leanhchien1903@gmail.com</email>
  </author>

  <description>
    A skid steering model
  </description>
</model>