<?xml version="1.0"?>

<model>
  <name>Metal peg board</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Jackie Kay</name>
    <email>jackie@osrfoundation.org</email>
  </author>

  <description>
    A wooden board with a single metal peg. Part of the ARAT set.
  </description>
</model>
