<?xml version="1.0"?>

<model>
  <name>Stop light post</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Louise Poubel</name>
    <email>louise@osrfoundation.org</email>
  </author>

  <description>
    A stop light post with one stop light on the right and another hanging on the center.
    An optional extension mesh is included but it's not part of the model.
  </description>

  <depend>
    <model>
      <uri>model://stop_light</uri>
      <version>1.0</version>
    </model>
  </depend>

</model>
