<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Asus Xtion Pro Depth Camera</name>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Adam Allevato</name>
    <email>adam.d.allevato@gmail.com</email>
  </author>

  <description>
    The ASUS Xtion Pro Live medium-range depth camera. Range: 0.3-3.5m.
    https://www.asus.com/us/3D-Sensor/Xtion_PRO_LIVE/
  </description>
</model>
