<?xml version="1.0"?>

<model>
  <name>VRC Driving Terrain</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.com</email>
  </author>

  <description>
    One of the terrains for the driving task in the Virtual Robotics Challenge (VRC). 
  </description>
</model>
