<?xml version='1.0'?>

<model>
  <name>DRC Practice: Ball valve wall</name>
  <version>0.1.0</version>
  <sdf version='1.4'>model-1_4.sdf</sdf>
  <sdf version='1.5'>model.sdf</sdf>
  <author>
    <name>Nate koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>
  <description>
    A combination of drc_practice_wall and multiple drc_practice_ball_valve models.
  </description>
</model>
