<?xml version='1.0'?>

<model>
  <name>SRC: Doorway</name>
  <version>0.1.0</version>
  <sdf version='1.6'>model.sdf</sdf>
  <author>
    <name>Carlos Agüero</name>
    <email>caguero@osrfoundation.org</email>
  </author>
  <description>
    A doorway used in the Space Robotics Challenge.
  </description>
</model>
