<?xml version="1.0"?>
<model>
  <name>Standing person</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Marina Kollmitz</name>
    <email>kollmitz@cs.uni-freiburg.de</email>
  </author>

  <description>
    A standing person. Model created with Makehuman (http://www.makehuman.org/)
  </description>
</model>
