<?xml version="1.0"?>

<model>
  <name>gazebo issue 1320</name>
  <version>0.0.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Steven C Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <description>
    from https://bitbucket.org/osrf/gazebo/issue/1320/cart_soft_suspension-model-unstable-in-ode
  </description>
</model>
