<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="full_arm_muscle">

  <xacro:include filename="$(find sr_description)/arm/xacro/base/shadowarm_base.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/arm/xacro/trunk/shadowarm_trunk.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/arm/xacro/upper_arm/shadowarm_upperarm.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/arm/xacro/lower_arm/shadowarm_lowerarm.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/arm/xacro/hand_support/shadowarm_handsupport_muscle.urdf.xacro" />

  <xacro:macro name="sr_arm_muscle">

    <xacro:shadowarm_base>
    </xacro:shadowarm_base>

    <xacro:shadowarm_trunk parent="shadowarm_base">
    </xacro:shadowarm_trunk>

    <xacro:shadowarm_upperarm parent="shadowarm_trunk">
    </xacro:shadowarm_upperarm>

    <xacro:shadowarm_lowerarm parent="shadowarm_upperarm">
    </xacro:shadowarm_lowerarm>

    <xacro:shadowarm_handsupport_muscle parent="shadowarm_lowerarm">
    </xacro:shadowarm_handsupport_muscle>

  </xacro:macro>

</robot>