<?xml version="1.0"?>

<model>
  <name>Wooden case</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Jackie Kay</name>
    <email>jackie@osrfoundation.org</email>
  </author>

  <description>
    An open wooden box. Part of the ARAT set.
  </description>
</model>
