<?xml version="1.0"?>

<model>
  <name>Tower</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Dr. Justin Manzo, Booz Allen Hamilton</name>
    <email>manzo_justin@bah.com</email>
  </author>

  <description>
    The 2013 FIRST Robotics Challenge tower object.
  </description>

</model>
