<?xml version="1.0"?>

<model>
  <name>Kitchen and Dining</name>
  <version>1.0</version>
  <sdf version="1.3">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>natekoenig@gmail.com</email>
  </author>

  <description>
    A model of a kitchen and dining room.
  </description>

</model>
