<?xml version="1.0"?>

<model>
  <name>Robonaut</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ian Chen</name>
    <email>ichen@osrfoundation.org</email>
  </author>

  <description>
    Robonaut 2
  </description>
</model>
