<?xml version="1.0"?>

<model>
  <name>universal robotics ur10 robot arm</name>
  <version>1.0.2</version>
  <sdf>ur10.urdf</sdf>

  <author>
    <name>Kelsey Hawkins</name>
    <email>kphawkins@gatech.edu</email>
  </author>

  <description>
    The xacro expanded ur10 robot arm model built by Kelsey Hawkins.
    Taken from git@github.com:ros-industrial/universal_robot.git for gazebo testing and integration purposes.
  </description>
</model>
