<?xml version="1.0"?>

<model>
  <name>asphalt plane</name>
  <version>1.0</version>
  <sdf version="1.3">model.sdf</sdf>

  <author>
    <name>Thomas Koletschka</name>
    <email>thomas.koletschka@gmail.com</email>
  </author>

  <description>
    An asphalt textured plane.
  </description>

</model>
